body {
    font-family: "Century Gothic", sans-serif;
    font-size: 25px;
}

header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header img {
    height: 100px;
    width: auto;
}


.lays img {
    height: 300px;
    width: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5%;
}

.lays n {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5%;
}

.cocacola img {
    height: 300px;
    width: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5%;
}

.cocacola n {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5%;
}

.water img {
    height: 300px;
    width: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5%;
}

.water n {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5%;
}

.doritos img {
    height: 300px;
    width: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5%;
}

.doritos n {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5%;
}

a {
    background-color: yellow;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: auto;
    font-size: 30px;
}
